@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #C05299, #AC46A1, #973AA8); 
}

main { /* para tirar o conteúdo de dentro do degradê */
    background-color: white;
    border-radius: 10px; /* Arredondar as bordas */
    box-shadow: 5px 5px 15px #4d364bd8; /* Criar sombra na caixa */
    width: 600px; /* largura do bloco */
    padding: 10px; /* Acochoamento */
    margin: auto; /* Automaticamente centraliza o bloco, independente do tamanho da tela */
}

h1 {
    color: #973AA8;
    text-align: center; /* Centralizar o título */
    text-shadow: 1px 1px 2px #710983dc; /* Criar sombra no título */
}

h2 {
    color: #C05299;
}

p {
    text-align: justify;
}